*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 100svw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--color-background);
    user-select: none;

    .sub-container {
        display: flex;
        height: calc(100svh - 30px);

        .content {
            position: relative;
            flex: 1;

            &:not(.no-padding) {
                padding: 1em;
            }
        }

        ::-webkit-scrollbar {
            width: 0;
        }
    }

    .error {
        background-color: rgba(255, 0, 0, 0.1);
        border: solid 1px red;
        color: red;
        padding: .5em 1em;
        border-radius: 5px;

        p::before {
            content: 'Error: ';
        }
    }
}