# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.tauri

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
latest.json

# Local env files
.env
.env.*
!.env.example