# Next dev/build outputs
out
.data
.next
.cache
dist
.tauri

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
latest.json
Nuxion_x64-setup.exe

# Local env files
.env
.env.*
!.env.example
src-tauri/Cargo.toml
src-tauri/env.development
src-tauri/env.production
src-tauri/Cargo.toml
src-tauri/gen/schemas/desktop-schema.json
src-tauri/gen/schemas/windows-schema.json
env
