@import "tailwindcss";

@custom-variant dark (body:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  :root {
    --background: oklch(100% 0.00011 271.152);
    --foreground: oklch(14.479% 0.00002 271.152);
    --card: oklch(100% 0.00011 271.152);
    --card-foreground: oklch(14.479% 0.00002 271.152);
    --popover: oklab(100% 0 -0.00011);
    --popover-foreground: oklch(14.479% 0.00002 271.152);
    --primary: oklch(20.463% 0.00002 271.152);
    --primary-foreground: oklch(98.511% 0.00011 271.152);
    --secondary: oklch(97.015% 0.00011 271.152);
    --secondary-foreground: hsl(0 0% 9%);
    --muted: oklch(97.015% 0.00011 271.152);
    --muted-foreground: oklch(55.553% 0.00006 271.152);
    --accent: oklch(97.015% 0.00011 271.152);
    --accent-foreground: oklch(20.463% 0.00002 271.152);
    --destructive: oklch(63.681% 0.20784 25.315);
    --destructive-foreground: oklch(98.511% 0.00011 271.152);
    --border: oklch(92.191% 0.0001 271.152);
    --input: oklch(92.191% 0.0001 271.152);
    --ring: oklch(14.479% 0.00002 271.152);
    
    --chart-1: oklch(67.671% 0.15715 35.076);
    --chart-2: oklch(63.075% 0.10093 183.889);
    --chart-3: oklch(37.899% 0.04379 226.199);
    --chart-4: oklch(83.297% 0.11844 88.35);
    --chart-5: oklch(78.425% 0.12556 58.98);
    --radius: 0.5rem;

    --sidebar-background: oklch(98.511% 0.00011 271.152);
    --sidebar-foreground: oklch(37.032% 0.01192 285.76);
    --sidebar-primary: oklch(21.033% 0.00588 285.832);
    --sidebar-primary-foreground: oklch(98.511% 0.00011 271.152);
    --sidebar-accent: oklch(96.744% 0.00143 285.225);
    --sidebar-accent-foreground: oklch(21.033% 0.00588 285.832);
    --sidebar-border: oklch(92.758% 0.00592 264.656);
    --sidebar-ring: oklch(62.31% 0.1881 259.83);
  }
  .dark {
    --background: oklch(14.479% 0.00002 271.152);
    --foreground: oklch(98.511% 0.00011 271.152);
    --card: oklch(17.394% 0.00411 285.902);
    --card-foreground: oklch(98.511% 0.00011 271.152);
    --popover: oklch(14.479% 0.00002 271.152);
    --popover-foreground: oklch(98.511% 0.00011 271.152);
    --primary: oklch(55.499% 0.13145 143.573);
    --primary-foreground: oklch(94.007% 0.00011 271.152);
    --secondary: oklch(30.118% 0.00003 271.152);
    --secondary-foreground: oklch(96.115% 0.00011 271.152);
    --muted: oklch(30.118% 0.00003 271.152);
    --muted-foreground: oklch(72.516% 0.00008 271.152);
    --accent: oklch(30.118% 0.00003 271.152);
    --accent-foreground: oklch(94.007% 0.00011 271.152);
    --destructive: oklch(63.681% 0.20784 25.315);
    --destructive-foreground: oklch(96.115% 0.00011 271.152);
    --border: oklch(26.862% 0.00003 271.152);
    --input: oklch(26.862% 0.00003 271.152);
    --ring: oklch(86.995% 0.0001 271.152);

    --chart-1: oklch(52.985% 0.19323 262.065);
    --chart-2: oklch(69.943% 0.13388 165.493);
    --chart-3: oklch(72.266% 0.15015 60.57);
    --chart-4: oklch(61.93% 0.20303 312.732);
    --chart-5: oklch(61.173% 0.20932 6.119);

    --sidebar-background: oklch(21.033% 0.00588 285.832);
    --sidebar-foreground: oklch(96.744% 0.00143 285.225);
    --sidebar-primary: oklch(48.821% 0.21724 264.392);
    --sidebar-primary-foreground: oklch(100% 0.00011 271.152);
    --sidebar-accent: oklch(27.394% 0.00551 285.955);
    --sidebar-accent-foreground: oklch(96.744% 0.00143 285.225);
    --sidebar-border: oklch(27.394% 0.00551 285.955);
    --sidebar-ring: oklch(62.31% 0.1881 259.83);
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary/50;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-muted-foreground/30 rounded-full border-2 border-solid border-transparent bg-clip-content hover:bg-muted-foreground/50;
  }
}
